In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Store the CSV you saved and created in part one, into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2021-01-19 22:17:54,-33.0153,27.9116,71.44,72,84,20.56
1,1,Damavand,IR,2021-01-19 22:17:54,35.7178,52.0650,42.80,39,0,1.88
2,2,Ponta Do Sol,PT,2021-01-19 22:17:54,32.6667,-17.1000,60.01,65,96,5.99
3,3,Massaguet,TD,2021-01-19 22:17:54,12.4755,15.4365,73.40,20,1,11.50
4,4,Jiwani,PK,2021-01-19 22:17:55,25.0500,61.7417,70.25,83,0,8.70

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?\t"))
max_temp = float(input("What is the maximum temperature you would like for your trip?\t"))

What is the minimum temperature you would like for your trip?	75
What is the maximum temperature you would like for your trip?	90

In [10]:
# Filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]

# Display preferred cities DataFrame
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Georgetown,MY,2021-01-19 22:17:55,5.4112,100.3354,77.00,83,40,2.30
8,8,Ugoofaaru,MV,2021-01-19 22:17:55,5.6667,73.0000,81.70,65,0,6.42
9,9,Huarmey,PE,2021-01-19 22:17:56,-10.0681,-78.1522,75.24,70,49,9.60
14,14,Brownsville,US,2021-01-19 22:17:56,25.9018,-97.4975,75.20,69,90,16.11
16,16,Meulaboh,ID,2021-01-19 22:13:01,4.1363,96.1285,75.22,88,97,4.09
23,23,San Pedro,PH,2021-01-19 22:13:46,14.3500,121.0167,77.00,88,90,2.30
24,24,Abapo,BO,2021-01-19 22:17:58,-18.8333,-63.4667,79.99,39,16,5.53
26,26,Mapiripan,CO,2021-01-19 22:17:58,2.8892,-72.1256,85.84,53,47,5.50
28,28,Arraial Do Cabo,BR,2021-01-19 22:17:58,-22.9661,-42.0278,75.20,83,0,16.11
35,35,Bathsheba,BB,2021-01-19 22:17:59,13.2167,-59.5167,78.80,65,20,21.85

In [11]:
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with the city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

           City Country  Max Temp      Lat       Lng Hotel Name
7    Georgetown      MY     77.00   5.4112  100.3354
8     Ugoofaaru      MV     81.70   5.6667   73.0000
9       Huarmey      PE     75.24 -10.0681  -78.1522
14  Brownsville      US     75.20  25.9018  -97.4975
16     Meulaboh      ID     75.22   4.1363   96.1285

In [16]:
# Set parameters to serach for a hotel

params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

In [26]:
# Create infobox template for gmap markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    hotel_info = info_box_template.format(**row)
    
    # Add the latitude and longitude to location key for the params dictionoary
    params["location"] = f'{lat},{lng}'
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Georgetown,MY,77.00,5.4112,100.3354,Cititel Penang
8,Ugoofaaru,MV,81.70,5.6667,73.0000,Ungoofaaru Inn
9,Huarmey,PE,75.24,-10.0681,-78.1522,Hotel Miramar
14,Brownsville,US,75.20,25.9018,-97.4975,Hotel Alameda Express
16,Meulaboh,ID,75.22,4.1363,96.1285,Kost Pria
23,San Pedro,PH,77.00,14.3500,121.0167,OYO 412 Viewfort Venue
24,Abapo,BO,79.99,-18.8333,-63.4667,
26,Mapiripan,CO,85.84,2.8892,-72.1256,Monserrate
28,Arraial Do Cabo,BR,75.20,-22.9661,-42.0278,Pousada Porto Praia
35,Bathsheba,BB,78.80,13.2167,-59.5167,Atlantis Hotel

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))